# Control de versiones
.git
.gitignore

# Dependencias locales que no se necesitan
vendor/
node_modules/

# Archivos locales de entorno y configuración
# .env
.env.*.local

# Logs, caché y archivos temporales
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# Archivos de configuración que no necesitas
docker-compose.yml
Dockerfile

# Archivos de sistema y temporales
*.log
*.cache
.DS_Store

# Otros
npm-debug.log*
yarn-error.log*
