# .env
.env.*
docker-compose.yml
Dockerfile
.dockerignore
.git
.gitignore
node_modules
npm-debug.log
yarn-error.log
vendor/
# composer.lock
phpunit.xml
tests/
*.swp
*.swo
*.bak
*.tmp
*.log
.idea/
.vscode/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
